body {
    background-color: #73c7d3;
}

h1 {
    text-align: center;
    font-family: rig-solid-bold-fill, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
}

h2 {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 10px;
}

#nightVideo {
    display: none;
}

.mainview {
    display: flex;
    flex-direction: column;
}

.mainview button {
    font-weight: bolder;
    color: antiquewhite;
    display: block;
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 20%;
    border: none;
    background-color: #fac106;
    border-radius: 10px;
}

.mainview video {
    display: block;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 70%;
}

.callforaction {
    display: flex;
    justify-content: center;
}

.callforaction img {
    width: 5em;
}