:root {
    /* Global variables */
    --backgroundColor: var(--dayBackgroundColor);
    --accentColor: var(--dayAccentColor);
    --primaryColor: var(--dayPrimaryColor);
    --contrastColor: var(--nightPrimaryColor);
    /* Themes for global variables */
    --dayBackgroundColor: #FFFDD0;
    --dayAccentColor: #73c7d3;
    --dayPrimaryColor: black;
    --nightBackgroundColor: rgb(0, 0, 0);
    --nightAccentColor: #be7a3d;
    --nightPrimaryColor: white;
}

html {
    /* Prevents accidental zooms when fast pressing buttons */
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

body {
    background-color: var(--backgroundColor);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

h1 {
    color: var(--primaryColor);
    font-size: 10vw;
    text-align: center;
    font-family: rig-solid-bold-fill, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    margin-bottom: -10px;
}

h2 {
    color: var(--primaryColor);
    font-size: 5vw;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 10px;
}

#nightVideo {
    display: none;
}

.mainview {
    display: flex;
    flex-direction: column;
}

.mainview button {

    font-weight: bolder;
    color: var(--contrastColor);
    display: block;
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--primaryColor);
    border-radius: 10px;
}

.mainview video {
    display: block;
    margin: auto;
    border: 3px solid var(--primaryColor);
    border-radius: 10px;
    width: 70%;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .mainview video {
        width: 90%;
    }
}

.callforaction {
    display: flex;
    justify-content: center;
}

.callforaction img {
    width: 5em;
}

.headline {
    border-radius: 20px 0px 20px 0px;
    margin: 40px auto 40px auto;
    background-color: var(--accentColor);
    box-shadow: 5px 10px var(--primaryColor);
}
